body {
  color: white;
  background-color: #23CEFA;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  cursor: pointer;
}

#header {
  
}

#main {
  font-size: larger;
  text-align: center;
}

#footer {
  text-align: center;
}
