/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #252525;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #2e2e2e;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-left: 1rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #ddd;
}

/* 3D cube styles */
.cube-container {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
  perspective: 1000px;
  margin-right: 1.5rem;
}


.cube-container .cube {
  animation: spin 3s infinite linear;
}


.cube {
  position: absolute;
  width: 2rem;
  height:2rem;
  transform-style: preserve-3d;
  animation: rotate 5s infinite linear;
}


.cube-face {
  position: absolute;
  width: 65%;
  height: 65%;
  background-color: yellow;
  opacity: 0.7;
}

.cube-face:nth-child(1) {
  transform: rotateX(90deg) translateZ(0.75rem);
}

.cube-face:nth-child(2) {
  transform: rotateY(-90deg) translateZ(0.75rem);
}

.cube-face:nth-child(3) {
  transform: rotateY(90deg) translateZ(0.75rem);
}

.cube-face:nth-child(4) {
  transform: rotateX(-90deg) translateZ(0.75rem);
}

.cube-face:nth-child(5) {
  transform: translateZ(0.75rem);
}

.cube-face:nth-child(6) {
  transform: rotateY(180deg) translateZ(0.75rem);
}

@keyframes spin {
  from {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

/* Main content styles */
main {
  padding: 2rem;
  text-align: center;
}

section {
  margin-bottom: 2rem;
}

h1, h2 {
  font-weight: bold;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding-left: 1rem;
}

li:before {
  content: "•";
  margin-right: 0.5rem;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input,
textarea {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: #2e2e2e;
  color: #fff;
}

button[type="submit"] {
  background-color: #fff;
  color: #252525;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in;
}

button[type="submit"]:hover {
  background-color: #ddd;
  color: #252525;
}

